pkgbase = aside
	pkgdesc = Wayland-native LLM desktop assistant
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/scottstav/aside
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = ninja
	makedepends = python-build
	makedepends = python-wheel
	makedepends = meson-python
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = wayland-protocols
	depends = wayland
	depends = cairo
	depends = pango
	depends = json-c
	depends = pipewire
	depends = gtk4
	depends = gtk4-layer-shell
	depends = portaudio
	depends = python
	depends = gobject-introspection
	optdepends = grim: screenshot plugin
	optdepends = slurp: screenshot region selection
	source = aside-0.2.0.tar.gz::https://github.com/scottstav/aside/archive/v0.2.0.tar.gz
	sha256sums = f2e950fa6c31193575c153168d2731d17a6e38530df4b19a2089b65065617214

pkgname = aside
